*{
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.seccion_arriba{
    border: 10% solid black;
    padding-left: 9%;
    margin-top: 2%;
    width: 82%;
    height: 60%;
}

.header{
    display: flex;
    padding: 3%;
    text-align: center;
    border: 4px solid black;
    height: 120%;
}

.texto_header{
    padding-left: 31%;
}

.foto1_a{
    height: 10%;
    width: 12%;
    margin: 0;
    padding: 0;
}

.foto1{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav_arriba{
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    padding: 1%;
}

.lista_nav{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 11%;
    gap: 16%;
}

.principal{
    width: 100%;
    height: 100vh;
}

.footer{
    background-color: #1e2a9cd0;
    height: 35vh;
}

.seccion_footer{
    margin-top: 1.5%;
}

.lista_footer{
    display: flex;
    gap: 5%;
    margin-left: 10%;
}

.lista_redes_footer{
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 1.5%;
    margin-left: 9%;
}

.p_f1{
    margin-top: 3%;
}

.titulo_indice{
    margin-left: 45%;
    margin-bottom: 3.5%;
}

.titulos{
    margin-left: 30%;
    margin-bottom: 5%;
}
.temario_1{
    margin-bottom: 1%;
    font-size: 200%;
}
.temario_2{
    margin-bottom: 1%;
    font-size: 200%;
}
.temario_3{
    margin-bottom: 1%;
    font-size: 200%;
}
.temario_4{
    margin-bottom: 1%;
    font-size: 200%;
}