*{
    padding: 0%;
    margin: 0%;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.seccion_arriba{
    border: 10% solid black;
    padding-left: 9%;
    margin-top: 2%;
    width: 82%;
    height: 60%;
}

.header{
    display: flex;
    padding: 3%;
    text-align: center;
    border: 4px solid #000000d0;
    height: 120%;
}

.texto_header{
    padding-left: 31%;
    font-size: 100%;
}

.foto1{
    height: 8%;
    width: 12%;
}
.nav_arriba{
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    padding: 1%;
}

.lista_nav{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 11%;
    gap: 16%;
}

.seccion_principal{
    flex: 3;
    margin-left: 8.8%;
    display: flex;
    flex-wrap: wrap;
    height: 41.3%;
}


.seccion_tema1{
    width: 45%;
    height: 100%;
    
}

.seccion_tema2{
    width: 45%;
    height: 100%;
    margin-left: 5%;
    
}

.seccion_tema3{
    width: 45%;
    height: 100%;
    margin-top: 5%;
    
}

.seccion_tema4{
    width: 45%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
    
}

.tema1{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    
}

.tema2{
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.tema3{
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.tema4{
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.barra_lateral{
    flex: 1;
    border: 2px solid black;
    height: 90.1%;
    margin-top: 0%;
    width: 1%;
    margin-right: 0.65%;
}

.principal{
    display: flex;
    width: 90.5%;
    padding: 20px;
    height: 80vh;
}

.footer{
    background-color: #1e2a9cd0;
    height: 35vh;
}

.seccion_footer{
    margin-top: 1.5%;
}

.lista_footer{
    display: flex;
    gap: 5%;
    margin-left: 10%;
}

.lista_redes_footer{
    display: flex;
    list-style-type: none;
    margin: 0;
    gap: 1.5%;
    margin-left: 9%;
}

.foto_proyecto1{
    width: 100%;
    height: 100%;
}

.foto_proyecto2{
    width: 100%;
    height: 100%;
}

.foto_proyecto3{
    width: 100%;
    height: 100%;
}

.foto_proyecto4{
    width: 100%;
    height: 100%;
}

.aside{
    width: 100%;
    height: 40%;
}

.foto_aside{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.titulo_aside{
    margin-left: 35%;
    font-size: 170%;
}
.nav_aside{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1%;
}

.texto_aside{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    text-align: justify;
}